<div>
    <h2 translate="cashflow6App.funds.home.title">Funds</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="funds.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  translate="cashflow6App.funds.home.createLabel">
                        Create new Funds
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"  has-authority="ROLE_ADMIN"><span translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="isin"><span translate="cashflow6App.funds.isin">Isin</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="nameFund"><span translate="cashflow6App.funds.nameFund">Name Fund</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="companyName"><span translate="cashflow6App.funds.companyName">Company Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="actualShares"><span translate="cashflow6App.funds.actualShares">Actual Shares</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="initialDate"  has-authority="ROLE_ADMIN"><span translate="cashflow6App.funds.initialDate">Initial Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="newShares"  has-authority="ROLE_ADMIN"><span translate="cashflow6App.funds.newShares">New Shares</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="actualValue"><span translate="cashflow6App.funds.actualValue">Actual Value</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="initialValue"  has-authority="ROLE_ADMIN"><span translate="cashflow6App.funds.initialValue">Initial Value</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="newValue"  has-authority="ROLE_ADMIN"><span translate="cashflow6App.funds.newValue">New Value</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="initialShares"  has-authority="ROLE_ADMIN"><span translate="cashflow6App.funds.initialShares">Initial Shares</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="user.login"  has-authority="ROLE_ADMIN"><span translate="cashflow6App.funds.user">User</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th><span translate="cashflow6App.funds.variation">variation</span> </th>
                    <th><span translate="cashflow6App.funds.variationcent">% variation</span> </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="funds in vm.funds track by funds.id">
                    <td  has-authority="ROLE_ADMIN"><a ui-sref="funds-detail({id:funds.id})">{{funds.id}}</a></td>
                    <td>{{funds.isin}}</td>
                    <td>{{funds.nameFund}}</td>
                    <td>{{funds.companyName}}</td>
                    <td>{{funds.actualShares}}</td>
                        <td  has-authority="ROLE_ADMIN">{{funds.initialDate | date:'mediumDate'}}</td>
                    <td  has-authority="ROLE_ADMIN">{{funds.newShares}}</td>
                    <td>{{funds.actualValue}}<a ui-sref="currency-detail({id:funds.currency.id})">{{funds.currency.code}}</a></td>
                    <td  has-authority="ROLE_ADMIN">{{funds.initialValue}}</td>
                    <td  has-authority="ROLE_ADMIN">{{funds.newValue}}</td>
                    <td  has-authority="ROLE_ADMIN">{{funds.initialShares}}</td>
                    <td has-authority="ROLE_ADMIN">
                        {{funds.user.login}}
                    </td>
                    <td>{{funds.actualValue-funds.initialValue}}<a ui-sref="currency-detail({id:funds.currency.id})">{{funds.currency.code}}</a></td>
                    <td>{{(((funds.actualValue/funds.initialValue)-1)*100) | number:2}}%</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="funds-detail({id:funds.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="funds.edit({id:funds.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="funds.delete({id:funds.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount"></jhi-item-count>
    </div>
    <uib-pager total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pager>
    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
