
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myFundsAuditLabel" translate="cashflow6App.fundsAudit.home.createOrEditLabel">Create or edit a Funds Audit</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.fundsAudit.id">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.fundsAudit.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="cashflow6App.fundsAudit.opDate" for="field_opDate">Op Date</label>
                <div class="input-group">
                    <input id="field_opDate" type="text" class="form-control" name="opDate" uib-datepicker-popup="{{dateformat}}" ng-model="vm.fundsAudit.opDate" is-open="vm.datePickerOpenStatus.opDate"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('opDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="cashflow6App.fundsAudit.antValue" for="field_antValue">Ant Value</label>
            <input type="number" class="form-control" name="antValue" id="field_antValue"
                    ng-model="vm.fundsAudit.antValue"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="cashflow6App.fundsAudit.newValue" for="field_newValue">New Value</label>
            <input type="number" class="form-control" name="newValue" id="field_newValue"
                    ng-model="vm.fundsAudit.newValue"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="cashflow6App.fundsAudit.antShares" for="field_antShares">Ant Shares</label>
            <input type="number" class="form-control" name="antShares" id="field_antShares"
                    ng-model="vm.fundsAudit.antShares"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="cashflow6App.fundsAudit.newShares" for="field_newShares">New Shares</label>
            <input type="number" class="form-control" name="newShares" id="field_newShares"
                    ng-model="vm.fundsAudit.newShares"
                     />
        </div>

        <div class="form-group">
            <label translate="cashflow6App.fundsAudit.funds" for="field_funds">Funds</label>
            <select class="form-control" id="field_funds" name="funds" ng-model="vm.fundsAudit.funds" ng-options="funds as funds.id for funds in vm.funds track by funds.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
