<div>
    <h2>Stock History of {{dades[0].stock.companyName}}</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
            <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                <th jh-sort-by="id" has-authority="ROLE_ADMIN"><span translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="opDate"><span translate="cashflow6App.stockAudit.opDate">Op Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="antValue"><span translate="cashflow6App.stockAudit.antValue">Ant Value</span> <span class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="newValue"><span translate="cashflow6App.stockAudit.newValue">New Value</span> <span class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="antShares"><span translate="cashflow6App.stockAudit.antShares">Ant Shares</span> <span class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="newShares"><span translate="cashflow6App.stockAudit.newShares">New Shares</span> <span class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="stock.id" has-authority="ROLE_ADMIN"><span translate="cashflow6App.stockAudit.stock">Stock</span> <span class="glyphicon glyphicon-sort"></span></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="stockAudit in dades track by stockAudit.id">
                <td has-authority="ROLE_ADMIN"><a ui-sref="stock-audit-detail({id:stockAudit.id})">{{stockAudit.id}}</a></td>
                <td>{{stockAudit.opDate | date:'mediumDate'}}</td>
                <td>{{stockAudit.antValue}}</td>
                <td>{{stockAudit.newValue}}</td>
                <td>{{stockAudit.antShares}}</td>
                <td>{{stockAudit.newShares}}</td>
                <td has-authority="ROLE_ADMIN">
                    <a ui-sref="stock-detail({id:stockAudit.stock.id})">{{stockAudit.stock.id}}</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount"></jhi-item-count>
    </div>
    <uib-pager total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pager>
    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
