<div>
    <h2 translate="cashflow6App.stock.home.title">Stocks</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="stock.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  translate="cashflow6App.stock.home.createLabel">
                        Create new Stock
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id" has-authority="ROLE_ADMIN"><span translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="ticker"><span translate="cashflow6App.stock.ticker">Ticker</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="companyName"><span translate="cashflow6App.stock.companyName">Company Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="actualShares"><span translate="cashflow6App.stock.actualShares">Actual Shares</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="newShares" has-authority="ROLE_ADMIN"><span translate="cashflow6App.stock.newShares">New Shares</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="initialDate" has-authority="ROLE_ADMIN"><span translate="cashflow6App.stock.initialDate">Initial Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="actualValue"><span translate="cashflow6App.stock.actualValue">Actual Value</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="initialValue" has-authority="ROLE_ADMIN"><span translate="cashflow6App.stock.initialValue">Initial Value</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="newValue" has-authority="ROLE_ADMIN"><span translate="cashflow6App.stock.newValue">New Value</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="initialShares" has-authority="ROLE_ADMIN"><span translate="cashflow6App.stock.initialShares">Initial Shares</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="user.login" has-authority="ROLE_ADMIN"><span translate="cashflow6App.stock.user">User</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th><span translate="cashflow6App.stock.variation">variation</span> </th>
                    <th><span translate="cashflow6App.stock.variationcent">% variation</span> </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="stock in vm.stocks track by stock.id">
                    <td has-authority="ROLE_ADMIN"><a ui-sref="stock-detail({id:stock.id})">{{stock.id}}</a></td>
                    <td>{{stock.ticker}}</td>
                    <td>{{stock.companyName}}</td>
                    <td>{{stock.actualShares}}</td>
                    <td has-authority="ROLE_ADMIN">{{stock.newShares}}</td>
                        <td has-authority="ROLE_ADMIN">{{stock.initialDate | date:'mediumDate'}}</td>
                    <td>{{stock.actualValue}}{{stock.currency.code}}</td>
                    <td has-authority="ROLE_ADMIN">{{stock.initialValue}}{{stock.currency.code}}</td>
                    <td has-authority="ROLE_ADMIN">{{stock.newValue}}{{stock.currency.code}}</td>
                    <td has-authority="ROLE_ADMIN">{{stock.initialShares}}</td>
                    <td has-authority="ROLE_ADMIN">
                        {{stock.user.login}}
                    </td>
                    <td>{{stock.actualValue-stock.initialValue}}<a ui-sref="currency-detail({id:funds.currency.id})">{{stock.currency.code}}</a></td>
                    <td>{{(((stock.actualValue/stock.initialValue)-1)*100) | number:2}}%</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="stock-detail({id:stock.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="stock.edit({id:stock.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="stock.delete({id:stock.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="stock.history({id:stock.id})"
                                    class="btn btn-success btn-sm">
                                <span class="glyphicon glyphicon-list"></span>
                                <span class="hidden-xs hidden-sm" >History</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount"></jhi-item-count>
    </div>
    <uib-pager total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pager>
    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
