<div ng-cloak>
    <div class="row">
        <div class="col-md-12">
            <div id="promoCarousel" class="carousel slide" data-ride="carousel" ng-show="!vm.isAuthenticated()">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#promoCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#promoCarousel" data-slide-to="1"></li>
                    <li data-target="#promoCarousel" data-slide-to="2"></li>
                    <li data-target="#promoCarousel" data-slide-to="3"></li>
                    <li data-target="#promoCarousel" data-slide-to="4"></li>
                </ol>
                <!-- Wrapper for slides -->
                <div class="carousel-inner" roler="listbox">
                    <div class="item active">
                        <div>
                            <img src="/content/images/invest.png" class="img-carousel img-responsive img-rounded">
                            <span class="txt-carousel">
                                <span class="carousel-titol">Welcome to CashFlow,</span>

                                </br><i>Make grow your savings.</i> </br>

                                </br>Take the control of:</br>
                                    <ul>
                                            <li>Savings</li>

                                            <li>Deposits</li>

                                            <li>Funds</li>

                                            <li>Stock</li>
                                    </ul>

                            </span>
                        </div>
                    </div>
                    <div class="item">
                        <div>
                            <img src="/content/images/savings.jpg" class="img-carousel img-responsive img-rounded">
                            <span class="txt-carousel">
                                <span>Savings</span>
                                </br>

                                Here you can: </br>


                                    <ul>
                                            <li>Insert your accounts</li>

                                            <li>Modify the total ammounts</li>

                                            <li>History of operations</li>

                                    </ul>

                            </span>
                        </div>
                    </div>
                    <div class="item">
                        <div>
                            <img src="/content/images/deposits.jpg" class="img-carousel img-responsive img-rounded">
                            <span class="txt-carousel">
                                <span>Deposits</span>
                                </br>

                                Here you can: </br>


                                    <ul>
                                            <li>Insert your fixed-term deposits</li>

                                            <li>Modify the total ammounts</li>

                                            <li>See the total amount </br>
                                                at the end of term.</li>

                                    </ul>

                            </span>
                            </span>
                        </div>
                    </div>
                    <div class="item">
                        <div>
                            <img src="/content/images/funds.jpg" class="img-carousel img-responsive img-rounded">
                            <span class="txt-carousel">
                                <span>Funds</span>
                                </br>
                                Here you can: </br>
                                    <ul>
                                            <li>Insert your Funds</li>
                                            <li>Modify the total Shares</li>
                                            <li>Modify the total Ammount</li>
                                            <li>History of operations</li>
                                    </ul>
                            </span>
                        </div>
                    </div>
                    <div class="item">
                        <div>
                            <img src="/content/images/stock.jpg" class="img-carousel img-responsive img-rounded">
                            <span class="txt-carousel">
                                <span>Stocks</span>
                                    </br>
                                    Here you can: </br>
                                    <ul>
                                            <li>Insert your Stocks</li>
                                            <li>Modify the total Shares</li>
                                            <li>Modify the total Ammount</li>
                                            <li>History of operations</li>
                                    </ul>
                            </span>
                        </div>
                    </div>
                    <!-- left-right buttons -->
                    <a class="left carousel-control" href="#promoCarousel" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#promoCarousel" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
            <div class="container-fluid" ng-show="vm.isAuthenticated()">

                <div class="jumbotron">
                    <h1 translate="home.title">Dashboard</h1>
                    <p translate="home.question"></p>
                </div>

                <div class="panel panel-body">
                    <span class="lead" translate="home.subtitle"></span>
                    <span class="lead">{{vm.account.login}}.</span>
                    <span class="lead" translate="home.subtitle2"></span>
                    <a  class="lead" ui-sref="settings" ng-click="vm.collapseNavbar()">
                        <span class="glyphicon glyphicon-wrench"></span>&nbsp;
                        <span translate="global.menu.account.settings">Settings.</span>
                    </a>
                </div>

                <div id="dashboard" class="panel panel-body">

                    <div>
                        <button class="btn btn-info" ui-sref="savings" >
                            <span class="glyphicon glyphicon-piggy-bank"></span>&nbsp;
                            <span translate="global.menu.entities.savings">Savings</span>
                        </button>
                        <span class="">In this section you can insert your Savings Accounts, and manage them</span>
                    </div>
                    <div>
                        <button class="btn btn-info" ui-sref="deposits" >
                            <span class="glyphicon glyphicon-hourglass"></span>&nbsp;
                            <span translate="global.menu.entities.deposits">Deposits</span>
                        </button>
                        <span class="">In this section you can insert your Fix Term Deposits, and manage them</span>
                    </div>
                    <div>
                        <button class="btn btn-info lead" ui-sref="funds">
                            <span class="glyphicon glyphicon-tree-deciduous"></span>&nbsp;
                            <span translate="global.menu.entities.funds">Funds</span>
                        </button>
                        <span>In this section you can insert your Investment Funds Shares, and manage them</span>
                    </div>
                    <div>
                        <button class="btn btn-info" class="" ui-sref="stock" >
                            <span class="glyphicon glyphicon-lock"></span>&nbsp;
                            <span translate="global.menu.entities.stock">Stock</span>
                        </button>
                        <span>In this section you can insert your Stock Exchange Shares, and manage them</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div ng-cloak class="missatges" ng-switch="vm.isAuthenticated()">
    <div class="alert alert-success" ng-switch-when="true">
        <span translate="home.logged.message" translate-values="{username: '{{vm.account.login}}'}">
            You are logged in as user "{{vm.account.login}}".
        </span>
        <span>{{today|date}}</span>
    </div>
    <div class="alert alert-warning" ng-switch-when="false" translate="global.messages.info.authenticated" translate-compile>
        If you want to <a class="alert-link" href="" ng-click="vm.login()">sign in</a>, you can try the default
        accounts:<br/>- Administrator (login="admin" and password="admin") <br/>- User (login="user" and
        password="user").
    </div>
    <div class="alert alert-info" ng-switch-when="false" translate="global.messages.info.register"
         translate-compile>
        You don't have an account yet? <a class="alert-link" ui-sref="register">Register a new account</a>
    </div>
</div>
