
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="mySavingsLabel" translate="cashflow6App.savings.home.createOrEditLabel">Create or edit a Savings</h4>
        <span class="glyphicon glyphicon-asterisk"></span>&nbsp;<i><span translate="global.menu.entities.required"></span></i>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.savings.id" has-authority="ROLE_ADMIN">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.savings.id" readonly />
        </div>
        <div class="form-group">
            <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
            <label class="control-label" translate="cashflow6App.savings.accountName" for="field_accountName">Account Name</label>
            <input type="text" class="form-control" name="accountName" id="field_accountName"
                    ng-model="vm.savings.accountName"
                     required/>
        </div>
        <div class="form-group" has-authority="ROLE_ADMIN">
            <label class="control-label" translate="cashflow6App.savings.actualValue" for="field_actualValue">Actual Value</label>
            <input type="number" class="form-control" name="actualValue" id="field_actualValue"
                    ng-model="vm.savings.actualValue"
                     />
        </div>
        <div class="form-group" has-authority="ROLE_ADMIN">
            <label class="control-label" translate="cashflow6App.savings.initialValue" for="field_initialValue">Initial Value</label>
            <input type="number" class="form-control" name="initialValue" id="field_initialValue"
                    ng-model="vm.savings.initialValue"
                     />
        </div>
        <div class="form-group" has-authority="ROLE_ADMIN">
            <label class="control-label" translate="cashflow6App.savings.initialDate" for="field_initialDate">Initial Date</label>
                <div class="input-group">
                    <input id="field_initialDate" type="text" class="form-control" name="initialDate" uib-datepicker-popup="{{dateformat}}" ng-model="vm.savings.initialDate" is-open="vm.datePickerOpenStatus.initialDate"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('initialDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
            <label class="control-label" translate="cashflow6App.savings.newValue" for="field_newValue">New Value</label>
            <input type="number" class="form-control" name="newValue" id="field_newValue"
                    ng-model="vm.savings.newValue"
                     required/>
        </div>

        <div class="form-group">
            <label translate="cashflow6App.savings.currency" for="field_currency">Currency</label>
            <select class="form-control" id="field_currency" name="currency" ng-model="vm.savings.currency" ng-options="currency as currency.code for currency in vm.currencies track by currency.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group" has-authority="ROLE_ADMIN">
            <label translate="cashflow6App.savings.user" for="field_user">User</label>
            <select class="form-control" id="field_user" name="user" ng-model="vm.savings.user" ng-options="user as user.login for user in vm.users track by user.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
